<h1><%= @market.name %></h1>
<p><%= @market.description %><p>

<div style="margin-top:25px;">
  <div style="float:left;">
<h3>Sign in</h3>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<br />
<h4>Forgot Your Password?</h4>
<%= form_tag('/users/forgot_password') do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= submit_tag 'send me a password reset email' %>
  </div>
<% end %>

</div>
<div style="float:right;">
  <h3>Sign Up</h3>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</div>
</div>
<div style="clear:both;" />
