<%= form_for(@order_list) do |f| %>
  <% if @order_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_list.errors.count, "error") %> prohibited this order_list from being saved:</h2>

      <ul>
      <% @order_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_start %><br />
    <%= f.datetime_select :order_start %>
  </div>
  <div class="field">
    <%= f.label :order_end %><br />
    <%= f.date_select :order_end %> at 12:00AM
  </div>
  <div class="field">
    <%= f.label :delivery_start %><br />
    <%= f.datetime_select :delivery_start %>
  </div>
  <div class="field">
    <%= f.label :delivery_end %><br />
    <%= f.datetime_select :delivery_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
