<% if order_list.order_end - order_list.order_start <= 1.day %>
  <h4>Ordering day: <%= order_list.order_start.strftime("%A, %b %e") %></h4>
<% else %>
  <h4>Ordering period: <%= order_list.order_start.strftime("%A, %b %e") %> - 
                       <%= (order_list.order_end - 1.day).strftime("%A, %b %e") %></h4>
<% end %>
<p><b>For delivery between <%= order_list.delivery_start.strftime("%A, %b %e at %l:%M%p") %> 
                        and <%= order_list.delivery_end.strftime("%A, %b %e at %l:%M%p") %></b></p>


<div id="notice">
</div>

<% if @commitment and @commitment.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

     <ul>
     <% @commitment.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

<table>
  <thead>
    <th>Quantity Needed</th>
    <th width="65%">I Will Provide</th>
    <th>My Existing Commitment</th>
  <thead>                    
<%= render :partial => 'order_listings/with_commitment_form', :collection => order_list.order_listings %>
</table>