<% if order_list.order_end - order_list.order_start <= 1.day %>
  <h4>Ordering day: <%= order_list.order_start.strftime("%A, %b %e") %></h4>
<% else %>
  <h4>Ordering period: <%= order_list.order_start.strftime("%A, %b %e") %> - 
                       <%= (order_list.order_end - 1.day).strftime("%A, %b %e") %></h4>
<% end %>
<p><b>For delivery between <%= order_list.delivery_start.strftime("%A, %b %e at %l:%M%p") %> 
                        and <%= order_list.delivery_end.strftime("%A, %b %e at %l:%M%p") %></b></p>


<div id="notice">
</div>

<% if @commitment and @commitment.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

     <ul>
     <% @commitment.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

<div style="clear:both;"></div> 
<% order_list.order_listings_for_user(current_user).group_by(&:product_family).each do |family,listings| %>        
  <h4 style="margin:10px 0 5px;font-weight:bold;"><%= family.name %></h4>   
  <div style="width:100%;display:block;height:20px;">
      <div style="width:60px;float:left;margin-left:5px;"><b>Cases Needed</b></div>
      <div style="width:470px;float:left;margin-left:5px;"><div style="width:100px;"><b>Cases I Will Provide</b></div></div>
      <div style="width:270px;float:left;margin-left:5px;"><b>My Commitment</b></div>
  </div>      
  <div style="clear:both;">  
  <%= render :partial => 'order_listings/with_commitment_form', :collection => listings %>
<% end %>