<div class="alert alert-info">
  <dl class="dl-horizontal">
<% if order_list.order_end - order_list.order_start <= 1.day %>
  <dt>Ordering day</dt>
  <dd><%= order_list.order_start.strftime("%A, %b %e %l:%M%p") %> to midnight</dd>
<% else %>
  <dt>Ordering period</dt>
  <dd><%= order_list.order_start.strftime("%A, %b %e %l:%M%p") %> - 
                       <%= (order_list.order_end - 1.day).strftime("%A, %b %e") %> at midnight</dd>
<% end %>
  <dt>For delivery</dt>
  <dd><%= order_list.delivery_start.strftime("%A, %b %e at %l:%M%p") %> 
                        - <%= order_list.delivery_end.strftime("%A, %b %e at %l:%M%p") %></dd>
  </dl>
  <p><strong>All commitments are final at the time ordering closes.</strong></p>
</div>

<div id="notice">
</div>

<% if @commitment && @commitment.errors.any? %>
   <div id="error_explanation" class="alert alert-error">
     <h2><%= pluralize(@commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

     <ul>
     <% @commitment.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

<% order_list.order_listings_for_user(current_user).group_by(&:product_family).each do |family,listings| %>        
  <h4><%= family.name %></h4><br />
  <table class="table table-striped table-bordered">   
    <thead>
      <tr>
      <th>Cases Needed</th>
      <th>Cases I Will Provide</th>
      <th>Product</th>
      <th>Package Size</th>
      <th>Price</th>
      <th>Commit</th>
      <th>Current Commitment</th>
      </tr>
  </thead>      
  <tbody> 
    <%= render :partial => 'order_listings/with_commitment_form', :collection => listings %>
  </tbody>
  </table>
<% end %>