<li>
  <% if order_list.order_end - order_list.order_start <= 1.day %>
    Ordering day: <%= order_list.order_start.strftime("%A, %b %e") %>
  <% else %>
    Ordering period: <%= order_list.order_start.strftime("%A, %b %e") %> at 12:00AM - <%= (order_list.order_end - 1.day).strftime("%A, %b %e") %> at midnight
  <% end %><br />
  <% if order_list.delivery_start.beginning_of_day == order_list.delivery_end.beginning_of_day %>
    Delivery period: <%= order_list.delivery_start.strftime("%A, %b %e %l:%M%p") %> - 
                     <%= order_list.delivery_end.strftime("%l:%M%p") %>
  <% else %>
    Delivery period: <%= order_list.delivery_start.strftime("%A, %b %e at %l:%M%p") %> - 
                     <%= order_list.delivery_end.strftime("%A, %b %e at %l:%M%p") %>
  <% end %><br />
  <%= pluralize(order_list.order_listings.size, "order listing")%>
  <div style="float:right;">
  <% if current_user.admin? %>
    <%= link_to "delete", order_list, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete order list" %>
    | <%= link_to "edit", edit_order_list_path(order_list) %> 
    <% if order_list.order_open? %>
      | <%= link_to "email list to users", email_order_list_path(order_list) %>
    <% end %>
    <% if true || order_list.between_order_and_delivery? %> 
      | <%= link_to "email invoices to users", email_invoices_order_list_path(order_list) %>
    <% end %>
    <% if true || order_list.between_order_and_delivery? %>
      | <%= link_to "view market invoice", redux_order_list_path(order_list) %>
    <% end %>
  <% end %> 
  </div>
  
</li>