<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Order Lists', order_lists_path], "Edit Order List"] %>

<h3>Editing Order List</h3>

<%= render 'form' %>

<h3>Add or Edit Order Listings by Product Family</h3>

<ul>
  <% @product_families.each do |product_family| %>
    <li><%= link_to product_family.name, order_list_product_family_order_listings_path(@order_list,product_family) %>
      <ul>
        <% @order_list.order_listings_for_family(product_family).each do |listing| %>
          <li><%= listing.quantity %> <%= listing.display_name(:include_family => false) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
