<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], 'All Order Lists'] %>

<p><%= link_to 'Create a new order list', new_order_list_path, :class => "btn btn-primary" %></p>

<h3>Active Order Lists</h3><br />
<table class="table table-striped table-bordered">
  <% @active_order_lists.each do |order_list| %>
    <%= render order_list %> 
  <% end %>
</table>

<h3>Inactive Order Lists</h3><br />

<%= will_paginate @inactive_order_lists %><br />

<table class="table table-striped table-bordered">
  <% @inactive_order_lists.each do |order_list| %>
    <%= render order_list %> 
  <% end %>
</table>

<%= will_paginate @inactive_order_lists %>