<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Order Lists', order_lists_path], "Claimed Listings by User for Delivery on #{@order_list.delivery_start.strftime('%A, %b %e')}"] %>

<h3>Claimed Listings by User for Delivery on <%= @order_list.delivery_start.strftime("%A, %b %e") %></h3>
    <table>
<% @order_list.order_listings.collect { |ol| ol.commitments }.flatten.group_by{ |c| c.user }.each do |user,commitments| %> 
      <tr>
          <td style="border-bottom:1px black solid;"><b><%= user.name %></b></td>
          <td style="border-bottom:1px black solid;"><b><%= user.email %></b></td>
          <td style="border-bottom:1px black solid;"><b><%= user.phone %></b></td>
      </tr>
      <% commitments.each do |commitment| %> 
        <tr>
          <td><%= commitment.quantity %></td>
          <td><%= commitment.orderable.name_for_user(commitment.user) %></td>
          <td><%= number_to_currency(commitment.price_for_user(commitment.user)) %></td>
        </tr>
      <% end %>
<% end %>
      </table>

<a href="#" class="navigation" onclick="window.print()">Print</a>