<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Order Lists', order_lists_path], "Claimed Listings for Delivery on #{@order_list.delivery_start.strftime('%A, %b %e')}"] %>

<h3>Claimed Listings for Delivery on <%= @order_list.delivery_start.strftime("%A, %b %e") %></h3>

      <table>
<% @order_list.order_listings.group_by(&:product_family).each do |family,listings| %> 
    <% listings.each do |listing| %>
      <% next if listing.total_commitment_quantity == 0 %>
      <tr><td colspan="5" style="border-bottom:1px black solid;"><b><%= listing.display_name %></b></td></tr>
      <% listing.commitments.each do |commitment| %> 
        <tr>
          <td><%= commitment.quantity %></td>
          <td><%= commitment.orderable.name_for_user(commitment.user) %></td>
          <td><%= commitment.orderable.plu_for_user(commitment.user) %></td>
          <td><%= number_to_currency(commitment.price_for_user(commitment.user)) %></td>
          <td><%= link_to commitment.user.name, commitment.user %></td>
        </tr>
      <% end %>
    <% end %>
<% end %>
      </table>

<a href="#" class="navigation" onclick="window.print()">Print</a>