<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Order Lists', order_lists_path], "Claimed Listings by User for Delivery on #{@order_list.delivery_start.strftime('%A, %b %e')}"] %>

<div class="page-header"><h2>Claimed Listings by User for Delivery on <%= @order_list.delivery_start.strftime("%A, %b %e") %></h2></div>
    <table class="table table-striped table-bordered">
<% @order_list.order_listings.collect { |ol| ol.commitments }.flatten.group_by{ |c| c.user }.each do |user,commitments| %> 
      <tr>
          <td colspan="2" style="border-bottom:1px black solid;"><b><%= user.name %></b></td>
          <td style="border-bottom:1px black solid;"><b><%= user.email %></b></td>
          <td colspan="2" style="border-bottom:1px black solid;"><b><%= user.phone %></b></td>
      </tr>
      <% commitments.each do |commitment| %> 
        <tr>
          <td><%= commitment.quantity %></td>
          <td><%= commitment.orderable.name_for_user(commitment.user) %></td>
          <td><%= commitment.orderable.product.package_size %></td>
          <td><%= number_to_currency(commitment.price_for_user(commitment.user)) %></td>
          <td><%= commitment.created_at.strftime('%x %r')%></td>
        </tr>
      <% end %>
<% end %>
      </table>

<p><a href="#" class="btn btn-primary" onclick="window.print()">Print</a></p>