<div class="row">
<h1>Invoice for <%= invoice.user.name %> for delivery on <%= invoice.order_list.delivery_start.strftime("%x") %></h1>
</div>

<div class="row">
<div class="alert alert-info">
  <button class="close" data-dismiss="alert">×</button>
<% if !invoice.final %>
  Ordering is still open. Click <%= link_to 'here', home_path %> to edit your invoice.
<% else %>
  This invoice is FINAL.  Please deliver your order on <%= invoice.order_list.delivery_start.strftime("%x") %>
<% end %>
</div>
</div>

<div class="btn-group">
<a href="#" onclick="window.print()" class="btn">Print this Invoice</a>
<%= link_to 'Email Me a Link to this Invoice', email_user_invoice_path(invoice.user, invoice), :class => "btn" %>
</div>

<br />
<div class="row">
  <div class="span6">
  <%= render :partial => 'users/info', :object => invoice.user %>
  </div>
  <div class="span5 well">
      <%= render :partial => 'markets/info', :object => @market %>
  </div>  
</div>
  
<table class="table table-striped table-bordered">
  <thead>
    <th>Product Name</th>
    <th>Package Size</th>
    <th>Description</th>
    <th style="text-align:right;">Price</th>
    <th style="text-align:right;">Quantity</th>
    <th style="text-align:right;">Total Price</th>
  </thead>
  <% invoice.commitments.each do |commitment| %>
    <tr>
      <td><%= commitment.orderable.name_for_user(invoice.user, {:with_family => true}) %></td>
      <td><%= commitment.orderable.product.package_size %></td>
      <td><%= commitment.orderable.product.description %></td>
      <td style="text-align:right;width:10%;"><%= number_to_currency(commitment.orderable.price_for_user(invoice.user)) %></td>
      <td style="text-align:right;width:5%;"><%= commitment.quantity %></td>
      <td style="text-align:right;width:10%;"><%= number_to_currency(commitment.price_for_user(invoice.user)) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="5" style="text-align:right;">Total:</td>
    <td style="text-align:right;"><%= number_to_currency(invoice.total_price) %></td>
</table>

<div class="row">
<h3>Delivery Information</h3>
<dl class="dl-horizontal">
  <dt>Delivery Period</dt> 
  <dd><%= invoice.order_list.delivery_start.strftime("%x %l:%M%p") %> - <%= invoice.order_list.delivery_end.strftime("%x %l:%M%p") %></dd>
  <dt>Instructions</dt>
  <dd><%= @market.delivery_info %></dd>
</dl>
</div>
