<h2>Invoice for delivery on <%= @invoice.order_list.delivery_start.strftime("%x") %></h2>

<p><b>This invoice is <%= (@invoice.final ? "" : "NOT YET") %> FINAL</b><br/>
<a href="#" class="navigation" onclick="window.print()">Print this Invoice</a></p>

<%= render :partial => 'users/info', :object => @invoice.user %>

<table>
  <thead>
    <th>Product Name</th>
    <th>Description</th>
    <th style="text-align:right;">Price</th>
    <th style="text-align:right;">Quantity</th>
    <th style="text-align:right;">Total Price</th>
  </thead>
  <% @invoice.commitments.each do |commitment| %>
    <tr>
      <td><%= commitment.orderable.name_for_user(@user, {:with_family => true}) %></td>
      <td></td>
      <td style="text-align:right;width:10%;"><%= number_to_currency(commitment.orderable.price_for_user(@user)) %></td>
      <td style="text-align:right;width:5%;"><%= commitment.quantity %></td>
      <td style="text-align:right;width:10%;"><%= number_to_currency(commitment.price_for_user(@user)) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4" style="text-align:right;">Total:</td>
    <td style="text-align:right;"><%= number_to_currency(@invoice.total_price) %></td>
</table>

<p>
  <b>Delivery Information:</b>
  <%= @invoice.order_list.delivery_start.strftime("%x %l:%M%p") %> - <%= @invoice.order_list.delivery_end.strftime("%x %l:%M%p") %>
</p>


<div class="navigation">
<%= link_to 'Edit', edit_user_invoice_path(@user, @invoice) %> |
<%= link_to 'Back', user_invoices_path(@user) %>
</div>
