<%= form_for([@order_list,@product_family,setup_orderable(@order_listing)]) do |f| %>
  <% if @order_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_listing.errors.count, "error") %> prohibited this order_listing from being saved:</h2>

      <ul>
      <% @order_listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  
  <h4>Orderables</h4>
  <table>
    <thead>
      <th>Product</th>
      <th>Organic Price</th>
      <th>Conventional Price</th>
      <th>Remove?</th>
    </thead>
  <%= f.fields_for :orderables do |o_form| %>
     <tr>
       <td>
         <%= o_form.collection_select :product_id, @products, :id, :name, :prompt => true %>
       </td>
       <td><%= o_form.text_field :organic_price %></td>
       <td><%= o_form.text_field :conventional_price %></td>
       <td>
      <% unless o_form.object.new_record? %>
        <% # Don't forget to name both of these '_destroy' in Rails 3 %>
        <%= o_form.check_box '_destroy' %>
      <% end %>
      </td>
    </tr>

  <% end %>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
