<% @order_listing = with_commitment_form %>
<% @commitment = Commitment.new %>
<tr id="order_listing_<%= @order_listing.id %>">
 <td><%= @order_listing.total_commitments_available %></td>
 <td>
   <% if @order_listing.total_commitments_available > 0 %>
     <% @order_listing.orderables.each do |orderable| %>
       <%= form_for([@order_listing.order_list,@order_listing.product_family,@order_listing,@commitment], :remote => true, :html => {:id => "new_commitment_#{@order_listing.id}"}) do |f| %>
           <%= hidden_field_tag 'commitment[user_id]', current_user.id %>
           <%= f.text_field :quantity, :size => 2, :value => 0 %>
           <%= orderable.name_for_user(current_user) %> at <%= number_to_currency(orderable.price_for_user(current_user)) %>
           <%= hidden_field_tag 'commitment[orderable_id]', orderable.id %>
           <%= f.submit 'go' %>
       <% end %>
     <% end %>
   <% end %>
  </td>
  <td>
    <% current_user.commitments_for_order_listing(@order_listing).each do |c| %>
      <%= c.quantity %> <%= c.orderable.name %> (<%= link_to 'remove', order_list_product_family_order_listing_commitment_path(@order_listing.order_list,@order_listing.product_family,@order_listing,c), :confirm => 'Are you sure?', :method => :delete %>)<br />
    <% end %>
  </td>
</tr>