<% @order_listing = with_commitment_form %>
<% @commitment = Commitment.new %>
<tr id="commitment_form_<%=@order_listing.id%>">
 <td><%= @order_listing.total_commitments_available %></td>
     <% if @order_listing.total_commitments_available > 0 %>
       <% @order_listing.orderables.each do |orderable| %>
         <%= form_for([@order_listing.order_list,@order_listing.product_family,@order_listing,@commitment], :remote => true, :html => {:id => "new_commitment_#{@order_listing.id}"}) do |f| %>
             <%= hidden_field_tag 'commitment[user_id]', current_user.id %>
             <td><%= f.text_field :quantity, :class => "input-small", :value => 0 %></td>
             <td><%= link_to orderable.name_for_user(current_user), orderable.product %></td>
             <td><%= orderable.product.package_size %></td>
             <td><%= number_to_currency(orderable.price_for_user(current_user)) %></td>
             <%= hidden_field_tag 'commitment[orderable_id]', orderable.id %>
             <td><%= f.submit 'commit', :class => 'btn' %></td>
         <% end %>
       <% end %>
     <% else %>
       <% @order_listing.orderables.each do |orderable| %>
             <td><span class="label label-warning">Sold Out</span></td>
             <td><%= link_to orderable.name_for_user(current_user), orderable.product %></td>
             <td><%= orderable.product.package_size %></td>
             <td><%= number_to_currency(orderable.price_for_user(current_user)) %></td>
             <td></td>
       <% end %>
     <% end %>
  <td>
    <% current_user.commitments_for_order_listing(@order_listing).each do |c| %>
      <%= c.quantity %> <%= c.orderable.name %> <%= link_to 'x', order_list_product_family_order_listing_commitment_path(@order_listing.order_list,@order_listing.product_family,@order_listing,c), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small btn-danger' %><br />
    <% end %>
  </td>
</tr>