<h1>Listing Order Listings  for family <%= @product_family.name %></h1>

<%= will_paginate %>
<table>
  <tr>
    <th>Products</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>

<% @order_listings.each do |order_listing| %>
  <tr>
    <td><%= (!order_listing.orderables.empty? ? order_listing.orderables.collect{ |o| o.product.name }.join(" OR ") : 'No Products') %></td>
    <td><%= order_listing.quantity %></td>
    <td><%= link_to 'Edit', edit_order_list_product_family_order_listing_path(@order_list,@product_family,order_listing) %></td>
    <td><%= link_to 'Destroy', [@order_list,@product_family,order_listing], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate %>

<%= link_to 'New Order listing', new_order_list_product_family_order_listing_path(@order_list,@product_family) %> | 
<%= link_to 'Back to Order Lists', order_lists_path %>