<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Order Lists', order_lists_path], ["Edit Order List", @order_list], "Order Listings for family #{@product_family.name}"] %>

<%= will_paginate %>
<table>
  <tr>
    <th>Products</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
  </tr>

<% @order_listings.each do |order_listing| %>
  <tr>
    <td><%= order_listing.display_name %></td>
    <td><%= order_listing.quantity %></td>
    <td><%= link_to 'Edit', edit_order_list_product_family_order_listing_path(@order_list,@product_family,order_listing) %></td>
    <td><%= link_to 'Destroy', [@order_list,@product_family,order_listing], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate %>

<%= link_to 'New Order listing', new_order_list_product_family_order_listing_path(@order_list,@product_family) %> 