<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Order Lists', order_lists_path], ["Edit Order List", @order_list], "Order Listing for family #{@product_family.name}"] %>

<p>Order listing fro the <%= link_to "order list", @order_listing.order_list %> opening on <%= @order_list.order_start %> and for delivery on <%= @order_list.delivery_start %></b>
</p>

<p>
  <b>Product family:</b>
  <%= @order_listing.product_family.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order_listing.quantity %>
</p>

<ul>
<% @order_listing.orderables.each do |ord| %>
  <li><%= ord.product.name %> (organic: <%= ord.organic_price %>, conventional: <%= ord.conventional_price %>)</li> 
  <%= "OR" unless ord == @order_listing.orderables.last %>
<% end %>
</ul>
