<% user = info %>

<br />

<address>
<% if user.address %>
  <%= user.name %><br />
  <%= user.address.street_1 %><br />
  <% if !user.address.street_2.blank? %>
    <%= user.address.street_2 %><br />
  <% end %>
  <%= user.address.city %> <%= user.address.state %>, <%= user.address.zipcode %><br/>
  <% if current_user.admin? %>
    <%= user.phone %><br />
    <%= user.email %><br />
  <% end %>
<% end %>
</address>

<address>
  <%= user.farm_name %><br/>
<% if user.farm_address %>
  <%= user.farm_address.street_1 %><br />
  <% if !user.farm_address.street_2.blank? %>
    <%= user.farm_address.street_2 %><br />
  <% end %>
  <%= user.farm_address.city %> <%= user.farm_address.state %>, <%= user.farm_address.zipcode %>
<% else %>
  Farm address same as above.
<% end %>
</address>
  
<p><span class="badge badge-info"><%= (user.organic ? "Organic seller" : "Non-Organic seller") %></span></p>