<tr>
  <td>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <%= "(admin)" if user.admin? %>
  </td>
  <td>
  <% if current_user.admin? %>
    <%= link_to "edit", edit_user_path(user), :class => "btn" %>
    <%= button_to "delete", user, :method => :delete, :confirm => "You sure?", :class => "btn" %>
  <% end %> 
  </td>
</tr>