<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], 'All Product Families'] %>

<div class="row">
<%= link_to 'Add a new product family', new_product_family_path, :class => "btn btn-primary btn-large" %>
</div>

<div class="row">
<%= will_paginate %>
</div>
<br />
<div class="row">
<table class="table table-striped table-bordered">
  <thead>
    <th>Family name</th>
    <th>Number of products</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <% @product_families.each do |product_family| %>
    <%= render product_family %>
  <% end %>
  </tbody>
</table>
</div>

<div class="row">
<%= will_paginate %>
</div>