<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], 'All Product Families'] %>

<%= link_to 'Add a new product family', new_product_family_path %>

<%= will_paginate %>

<table class="product_families">
  <thead>
    <th>Family name</th>
    <th>Number of products</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <% @product_families.each do |product_family| %>
    <%= render product_family %>
  <% end %>
  </tbody>
</table>

<%= will_paginate %>
