<h1><%= @market.name %></h1>
<p><%= @market.description %></p>

<% if @open_order_lists.size > 0 %> 
  <% @open_order_lists.each do |ool| %>
    <%= render :partial => 'order_lists/order_list_order_form', :locals => {:order_list => ool} %>
  <% end %>
  <br />
  <div>
    <ul>
      <li>All commitments existing at the time ordering closes are final.</li>
      <li>You may view your invoice on <%= link_to 'your account page', user_path(current_user) %></li>
    </ul>
  </div>
<% else %>
  <p>No order lists are currently open for ordering.
  <% if @upcoming_order_list %>
    Ordering opens again on <%= @upcoming_order_list.order_start.strftime("%A, %b %e") %>. 
  <% else %>
    The next ordering day has not yet been scheduled.
  <% end %>
  </p>
<% end %>

