<h1><%= @market.name %></h1>
<p><%= @market.description %></p>

<% if @open_order_lists.size > 0 %> 
  <% @open_order_lists.each do |ool| %>
    <%= render :partial => 'order_lists/order_list_order_form', :locals => {:order_list => ool} %>
  <br />
  <div>
    <ul>
      <li>All commitments are final at the time ordering closes.</li>
      <li>
        <% if ool.invoice_for_user(current_user)%>
          <div id="invoice_link_<%= ool.id %>"><%= link_to 'View your invoice', user_invoice_path(current_user,ool.invoice_for_user(current_user))%></div>
        <% else %>
          <div id="invoice_link_<%= ool.id %>">You may view your invoice once you've made a commitment</div>
        <% end %>
      </li>
    </ul>
  </div>
  <% end %>
<% else %>
  <p>No order lists are currently open for ordering.
  <% if @upcoming_order_list %>
    Ordering opens again on <%= @upcoming_order_list.order_start.strftime("%A, %b %e") %>. 
  <% else %>
    The next ordering day has not yet been scheduled.
  <% end %>
  </p>
<% end %>

