<%= form_for([@order_list,@product_family,@order_listing,@commitment]) do |f| %>
  <% if @commitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commitment.errors.count, "error") %> prohibited this commitment from being saved:</h2>

      <ul>
      <% @commitment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
