var $invoice_link = $("#invoice_link_<%=@order_list.id%>")
$invoice_link.html("<a href='/users/<%=current_user.id%>/invoices/<%=@invoice.id%>' class='btn btn-primary'>View invoice</a>")
$invoice_link.children(":first").effect('highlight', {}, 2000)

var $old_row = $("#commitment_form_<%=@commitment.order_listing.id%>")
var new_row = document.createElement('span');
var $new_row = $(new_row)
$new_row = $new_row.html("<%= escape_javascript(render(:partial => 'order_listings/with_commitment_form', :object => @commitment.order_listing)) %>").children(":first");
$old_row.replaceWith($new_row);
$new_row.children().effect("highlight", {}, 2000);
 

