<h1>Listing commitments</h1>

<table>
  <tr>
    <th>Orderable</th>
    <th>User</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commitments.each do |commitment| %>
  <tr>
    <td><%= commitment.orderable.product.name %></td>
    <td><%= commitment.user.name %></td>
    <td><%= commitment.quantity %></td>
    <td><%= link_to 'Show', order_list_product_family_order_listing_commitment_path(@order_list,@product_family,@order_listing,commitment) %></td>
    <td><%= link_to 'Edit', edit_order_list_product_family_order_listing_commitment_path(@order_list,@product_family,@order_listing,commitment) %></td>
    <td><%= link_to 'Destroy', order_list_product_family_order_listing_commitment_path(@order_list,@product_family,@order_listing,commitment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commitment', new_order_list_product_family_order_listing_commitment_path(@order_list,@product_family,@order_listing) %>
