<h1>Listing orderables</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Product</th>
    <th>Organic price</th>
    <th>Conventional price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orderables.each do |orderable| %>
  <tr>
    <td><%= orderable.product.name %></td>
    <td><%= orderable.organic_price %></td>
    <td><%= orderable.conventional_price %></td>
    <td><%= link_to 'Show', order_list_order_listing_orderable_path(@order_list,@order_listing,orderable) %></td>
    <td><%= link_to 'Edit', edit_order_list_order_listing_orderable_path(@order_list,@order_listing,orderable) %></td>
    <td><%= link_to 'Destroy', [@order_list,@order_listing,orderable], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New Orderable', new_order_list_order_listing_orderable_path(@order_list,@order_listing) %>
