<% market = info %>
<p><%= market.name %><br />
<%= market.address_1 %><br />
<% if !market.address_2.blank? %>
  <%= market.address_2 %><br />
<% end %>
<%= market.city %> <%= market.state %>, <%= market.zipcode %><br />
<%= market.phone %> - <%= market.contact_email %></p>