<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_family %><br />
    <%= f.collection_select :product_family_id, @product_families, :id, :name %> or <%= link_to 'add a new product family', new_product_family_path %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="package_size">
    <%= f.label :package_size %>
    <%= f.text_field :package_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
