<li>
  <%= link_to (product.organic ? "Organic #{product.name}" : product.name), product %><br />
  price: <%= number_to_currency(product.base_price) %><br />
  <%= product.description %>
  <div style="float:right;">
  <% if current_user.admin? %>
    <%= link_to "delete", product, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{product.name}" %>
    | <%= link_to "edit", edit_product_path(product) %>
  <% end %> 
  </div>
  
</li>