<tr>
  <td>
  <strong><%= link_to product.name, product %></strong><br />
  <%= product.description %><br />
  <%= product.package_size %>
</td>
<td>
  <% if current_user.admin? %>
    <%= link_to "edit", edit_product_path(product), :class => "btn" %>
    <%= button_to "delete", product, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{product.name}", :class => "btn" %>
  <% end %> 
  </div>
  
</td>
</tr>