<%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], 'All Products'] %>

<%= link_to 'Add a new product', new_product_path %> OR
<%= form_tag({:action => 'create_from_csv'}, :multipart => true) do %>
  <label for="upload_file">Upload CSV to create products</label>:
  <%= file_field 'upload', 'datafile' %>
  <%= submit_tag "Upload" %>
  <div>CSV format is: product family name, product name, product description, package size</div>
<% end %><br/>

<%= will_paginate %>

<% last_family = "" %>
<% first = true %>
<% @products.each do |product| %>
  <% if last_family != product.product_family.name %>
    <% if !first %>
      </ul>
    <% end %>
    <h4 class="product_family"><%= product.product_family.name %></h4>
    <ul class="products">
  <% end %>
  <%= render product %>
  
  <% last_family = product.product_family.name %>
  <% first = false %>
<% end %>


<%= will_paginate %>

