<h1>All Products</h1>

<%= link_to 'Add a new product', new_product_path %>

<%= will_paginate %>

<% last_family = "" %>
<% first = true %>
<% @products.each do |product| %>
  <% if last_family != product.product_family.name %>
    <% if !first %>
      </ul>
    <% end %>
    <h4 class="product_family"><%= product.product_family.name %></h4>
    <ul class="products">
  <% end %>
  <%= render product %>
  
  <% last_family = product.product_family.name %>
  <% first = false %>
<% end %>


<%= will_paginate %>

