<h2>
  <%= @product.product_family.name %>: <%= "Organic" if @product.organic %> <%= @product.name %>
</h2>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Default Price:</b>
  <%= number_to_currency(@product.base_price) %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
