<% if current_user.admin? %>
  <%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Products', products_path], @product.name] %>
<% else %>
  <%= render :partial => 'common/breadcrumbs', :object => [['Current Order List', home_path], @product.name] %>
<% end %>

<div class="row">
<h2>
  <%= @product.product_family.name %>: <%= @product.name %>
</h2>
</div>

<div class="row">
<% if current_user.admin? %>
  <%= link_to "edit", edit_product_path(@product), :class => "btn" %>
  <%= button_to "delete", @product, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@product.name}", :class => "btn" %>
<% end%>
</div>


<dl>
  <dt>Description</dt>
  <dd><%= @product.description %></dd>
  <dt>Package Size</dt>
  <dd><%= @product.package_size %></dd>
</dl>

