<% if current_user.admin? %>
  <%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Products', products_path], @product.name] %>
<% else %>
  <%= render :partial => 'common/breadcrumbs', :object => [['Current Order List', home_path], @product.name] %>
<% end %>
<h2>
  <%= @product.product_family.name %>: <%= @product.name %>
</h2>

<% if current_user.admin? %>
<div class="button_holder" style="float:none;margin-bottom:10px;">
  <%= link_to "edit", edit_product_path(@product) %>
  | <%= button_to "delete", @product, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@product.name}" %>
  
</div>
<% end%>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Package Size</b>
  <%= @product.package_size %>
</p>


<p><%= link_to 'Back to Order List', home_path %>
