<% if current_user.admin? %>
  <%= render :partial => 'common/breadcrumbs', :object => [['Administer Site', admin_path], ['All Products', products_path], @product.name] %>
<% else %>
  <%= render :partial => 'common/breadcrumbs', :object => [['Current Order List', home_path], @product.name] %>
<% end %>
<h2>
  <%= @product.product_family.name %>: <%= @product.name %>
</h2>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>PLU/SKU Number:</b>
  <%= @product.plu_number %>
</p>

<p>
  <b>Organic PLU/SKU Number:</b>
  <%= @product.organic_plu_number %>
</p>

<p>
  <b>Package Size</b>
  <%= @product.package_size %>
</p>
