<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag 'jquery-1.5.2.min', 'rails', 'application' %>
    <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
          <section class="round">
            <% flash.each do |key, value| %>
               <div class="flash <%= key %>"><%= value %></div>
             <% end %>
            <%= yield %>
          </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>

